<label for="concept">Data set</label><br>
<select id="concept" name="concept">
  <% concepts.each do |concept| %>
    <% name = concept['name'] %>
    <% if name =~ /^([A-Z]+\d+[A-Z]?)\.\s+(.*)(\s+\[\d+\])$/ %>
      <option value='<%= $1 %>' title='<%= $2.titleize %>'><%= $2.titleize.slice(0, 100) %></option>
    <% end %>
  <% end %>
</select>
