<div>
  <h3>
    Census data set <span class='alt'><%= name %></span> for <span class='alt'>Ohio</span>
  </h3>
  <p>
  <ul>
    <% variables.each do |var| %>
      <li><%= var['content'] %> is <strong><%= format_number(data[var['name']]) %></strong></li>
    <% end %>
  </ul>
  </p>
</div>
