<div>

  <h3>
    Census Data for <span class='alt'>Ohio</span>
  </h3>

  <p>
  <ul>
    <% concepts.each do |concept| %>
      <% name = concept['name'] %>
      <% if name =~ /^([A-Z]+\d+)\./ %>
        <li><a href='<%= url("/counts/#{$1}") %>'><%= name %></a></li>
      <% end %>
    <% end %>
  </ul>
  </p>
</div>
