<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Census Data Sample App</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="http://codeforsummitcounty.org/style.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <p><a href="/">[Home]</a></p>
  <body id='home'>
    <%= yield %>
  </body>
</html>
