<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Census Data Sample App</title>
  </head>
  <body id='home'>

    <%= yield %>

  </body>
</html>
